{:deps {cider/cider-nrepl {:mvn/version "0.24.0"}
        bhurlow/rebel-readline {:git/url "git@github.com:bhurlow/rebel-readline.git"
                                :sha "dc2c8800c51f4478f9c4e83ba9a0e37ddbbef87b"}}}
